// ------------------ MAIN COLOR PALETTE ------------------ //

$color-primary: #202653;
$color-primary-light: #646ea0;
$color-primary-dark: #140F32;

$color-secondary: #2A9FD6;
$color-secondary-light: #82C8E6;
$color-secondary-dark: #1C6182;
$color-secondary-darker: #031B30;

$color-tertiary: #CDA041;

// --------------------- GREY COLORS --------------------- //

$color-grey: #9F9F9F;
$color-grey-light: #ACACAC;
$color-grey-lighter: #CECECE;
$color-grey-lightest: #E8E8E8;
$color-grey-dark: #707070;
$color-grey-darker: #464646;
$color-grey-darkest: #232323;

// --------------------- BASIC COLORS --------------------- //

$color-white: #FFFFFF;
$color-black: #000000;
$color-black-light: #101010;
$color-red: #FF0000;
$color-red-dark: #8B0000;
$color-green: #00FF00;
$color-green-dark: #006400;
