@import "../../../assets/style/colors";

.error-404-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1284px;
    margin: 0 auto;
    padding: 20px 0 50px;
  }

  &__title {
    color: $color-secondary;
    font-size: 180px;
    margin-bottom: 30px;
  }

  &__description {
    font-size: 20px;
    line-height: 28px;
    max-width: 70%;
    margin-bottom: 50px;
  }

  &__button {
    width: 200px;
  }
}
