@import "../../../../../assets/style/colors";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $color-secondary-light;
  background-color: $color-primary-dark;
  height: 52px;
  padding: 0 35px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid $color-secondary-light;
  border-radius: 6px;
  transition-duration: 0.2s;

  &:hover {
    cursor: pointer;
    color: $color-tertiary;
    border-color: $color-tertiary;
    transition-duration: 0.2s;
  }

  &.-disabled {
    pointer-events: none;
    background-color: $color-grey-light;
    border-color: $color-grey-light;
  }

  &__icon {
    height: 20px;
    margin-right: 10px;
  }

  svg {
    height: 20px;
    margin-right: 10px;
  }
}
