@import '../../../../assets/style/colors';

.resource-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: $color-primary-dark;
  border: 2px solid $color-secondary;
  border-radius: 8px;
  overflow: hidden;

  &__row {
    display: flex;
    flex-direction: row;
    transition-duration: 0.1s;
    
    &:not(:last-child) {
      border-bottom: 1px solid $color-secondary;
    }

    &:hover {
      cursor: pointer;
      color: $color-tertiary;
      background: $color-primary;
      transition-duration: 0.1s;
    }

    &.-header {
      font-size: 24px;
      border-bottom-width: 3px;
      text-transform: uppercase;
      pointer-events: none;
    }

    &.-no-navigate {
      &:hover {
        pointer-events: none;
        color: $color-secondary-light;
        background: $color-primary-dark;
      }
    }
  }

  &__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
  }
}